Repository readyapi/readyapi, pull requests merged in 2025-01, with the labels that each got.

#163 👷 Add retries to Smokeshow
  .github/workflows/smokeshow.yml
Labels: internal

#164 ✅ Simplify tests for additional_status_codes
  tests/test_tutorial/test_additional_status_codes/test_tutorial001.py
  tests/test_tutorial/test_additional_status_codes/test_tutorial001_an.py
  tests/test_tutorial/test_additional_status_codes/test_tutorial001_an_py310.py
  tests/test_tutorial/test_additional_status_codes/test_tutorial001_an_py39.py
  tests/test_tutorial/test_additional_status_codes/test_tutorial001_py310.py
Labels: refactor

#165 👷 Add new GitHub Action to update contributors, translators, and tran…
  .github/workflows/contributors.yml
  docs/en/data/contributors.yml
  docs/en/data/skip_users.yml
  docs/en/data/translation_reviewers.yml
  docs/en/data/translators.yml
  docs/en/docs/readyapi-people.md
  docs/en/mkdocs.yml
  requirements-github-actions.txt
  scripts/contributors.py
Labels: internal

#166 🔨 Add internal scripts to generate language translations with Pydanti…
  docs/es/llm-prompt.md
  requirements-translations.txt
  scripts/translate.py
Labels: internal

#167 👷‍♀️ Add script for GitHub Topic Repositories and update External Links
  .github/workflows/topic-repos.yml
  docs/en/data/topic_repos.yml
  docs/en/docs/external-links.md
  docs/en/docs/js/custom.js
  docs/en/mkdocs.yml
  scripts/topic_repos.py
Labels: docs, internal

#168 👥 Update ReadyAPI GitHub topic repositories
  docs/en/data/topic_repos.yml
Labels: internal

#169 ✅ Simplify tests for body_fields
  tests/test_tutorial/test_body_fields/test_tutorial001.py
  tests/test_tutorial/test_body_fields/test_tutorial001_an.py
  tests/test_tutorial/test_body_fields/test_tutorial001_an_py310.py
  tests/test_tutorial/test_body_fields/test_tutorial001_an_py39.py
  tests/test_tutorial/test_body_fields/test_tutorial001_py310.py
Labels: refactor

#172 👷 Refactor ReadyAPI People Sponsors to use 2 tokens
  .github/workflows/sponsors.yml
  scripts/sponsors.py
Labels: internal, refactor

#178 Update add-to-project.yml
  .github/workflows/add-to-project.yml
Labels: internal
